In [2]:
eco = ["BMW","Mercedes","Opel","Mazda"]
print(eco)

['BMW', 'Mercedes', 'Opel', 'Mazda']

In [3]:
len(eco)

4

In [10]:
print(eco[0:4:3])

['BMW', 'Mazda']

In [38]:
eco[-1]= "Toyota"
print(eco)

['BMW', 'Mercedes', 'Opel', 'Toyota']

In [39]:
"Mercedes" in eco

True

In [13]:
print(eco[-2])

Opel

In [18]:
print(eco[0:3:1])

['BMW', 'Mercedes', 'Opel']

In [41]:
eco[-1]= "Toyota"
eco[-2]= "Renault"
print(eco)

['BMW', 'Mercedes', 'Renault', 'Toyota']

In [44]:
# eko = str(eco) + " Nissan" + " Audi"
# eko
eco = eco + ["Audi","Nissan"]
print(eco)

['BMW', 'Mercedes', 'Renault', 'Toyota', 'Audi', 'Nissan']

In [45]:
# eco.delete
del eco[-1]
print(eco)

['BMW', 'Mercedes', 'Renault', 'Toyota', 'Audi']

In [46]:
print(eco[::-1])

['Audi', 'Toyota', 'Renault', 'Mercedes', 'BMW']

In [36]:
studentA = "Yiğit Bilgi 2010, (70,60,70)"
studentB = "Sena Turan 1999, (80,80,70)"
studentC = "Ahmet Turan 1998, (80,70,90)"
top = studentA + " " + studentB + " " + studentC
print(top)

Yiğit Bilgi 2010, (70,60,70) Sena Turan 1999, (80,80,70) Ahmet Turan 1998, (80,70,90)

In [37]:
print(top)

Yiğit Bilgi 2010, (70,60,70) Sena Turan 1999, (80,80,70) Ahmet Turan 1998, (80,70,90)