In [2]:
x = int(input("Birinci sayı: "))
y = int(input("İkinci sayı: "))

if (x*y) > 1000:
    toplam = x + y
    print(toplam)
else:
    çarpım = x * y
    print(çarpım)

110

In [4]:
for i in range(0,10):
    if i == 0:
        print(f"Şimdiki sayı {i}, Önceki sayı None, İkisinin toplamı {i+i}")
    else:
        print(f"Şimdiki sayı {i}, Önceki sayı {i-1}, İkisinin toplamı {i+(i-1)}")

Şimdiki sayı 0, Önceki sayı None, İkisinin toplamı 0
Şimdiki sayı 1, Önceki sayı 0, İkisinin toplamı 1
Şimdiki sayı 2, Önceki sayı 1, İkisinin toplamı 3
Şimdiki sayı 3, Önceki sayı 2, İkisinin toplamı 5
Şimdiki sayı 4, Önceki sayı 3, İkisinin toplamı 7
Şimdiki sayı 5, Önceki sayı 4, İkisinin toplamı 9
Şimdiki sayı 6, Önceki sayı 5, İkisinin toplamı 11
Şimdiki sayı 7, Önceki sayı 6, İkisinin toplamı 13
Şimdiki sayı 8, Önceki sayı 7, İkisinin toplamı 15
Şimdiki sayı 9, Önceki sayı 8, İkisinin toplamı 17

In [15]:
kelime = "pynative"

for i in range(len(kelime)):
    numara = kelime.index(kelime[i])
    if numara % 2 == 0:
        print(kelime[i])

p
n
t
v

In [22]:
def silgitsin(x,y):
    if y > len(x):
        print("Sileceğiniz harf sayısı kelimenin uzunluğundan büyük olamaz.")
    else:
        x = x[y:]
        print(x)

silgitsin("pynative",2)

native

In [29]:
liste1 = [10, 20, 30, 40, 10]
liste2 = [75, 65, 35, 75, 30]

def karsılastır(liste):
    if liste[:1] == liste[-1:]:
        print("Evet aynı.")
    else:
        print("Hayır aynı değil.")

karsılastır(liste2)

Hayır aynı değil.

In [30]:
x = int(input("Birinci sayı: "))
y = int(input("İkinci sayı: "))

çarpım = x * y
print(çarpım)

6

In [33]:
print('Name', 'Is', 'James', sep='**')

Name**Is**James

In [4]:
x = int(input("Bir sayı giriniz: "))

y = oct(x)
print(y[2:])

30

In [28]:
num = input("Bir float değer giriniz: ")
print(num)
x = float(num)
print(x)
z = int(x)
print(z)
y = str(z)
print(y)
print(len(y))

print(num[:len(y)+3])

37483783.6237137123
37483783.62371371
37483783
37483783
8
37483783.62

In [2]:
x = 0
y = []

while x < 5:
    z = float(input("Float sayı giriniz: "))
    y.append(z)
    x += 1
print(y)

[1.12, 2.12, 3.12, 4.12, 5.12]

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
a = (1,2,3,4,5)
print(a[0])
print(a[0],a[1])
print(a[0],a[1],a[2])
print(a[0],a[1],a[2],a[3])
print(a[0],a[1],a[2],a[3],a[4])

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
x = int(input("1'den belirlediğiniz sayıya kadar toplamasını istediğiniz sayıyı girin: "))
y = 0

for i in range(0,x+1):
    y += i
print(y)

55

In [1]:
x = int(input("Bir sayı giriniz: "))

for i in range(1,10):
    print(x*i)

2
4
6
8
10
12
14
16
18

In [3]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i > 150:
        pass
    elif i % 5 == 0:
        print(i)

75
150
145

In [3]:
def isimyas(isim,yas):
    print(f"İsminiz: {isim}, Yaşınız: {yas}")

isimyas("Sonay",26)

İsminiz: Sonay, Yaşınız: 26

In [6]:
def sonsuz(*args):
    for i in args:
        print(i)

sonsuz(25,27,32)

25
27
32

In [7]:
def hesapla(sayi1,sayi2):
    print(sayi1+sayi2)
    print(sayi1-sayi2)

hesapla(40,10)

50
30

In [9]:
def maas(isim,maas=9000):
    print(f"İsim: {isim}, Maaş: {maas}")

maas("Ben", 12000)
maas("Jessa")

İsim: Ben, Maaş: 12000
İsim: Jessa, Maaş: 9000

In [12]:
str1 = "James"

print(str1[0::2])

Jms

In [9]:
x = input("Bir kelime giriniz: ")

orta = len(x)/2
orta = int(orta)

print(x[orta-1:orta+2])

Son

In [12]:
s1 = "Ault"
s2 = "Kelly"

print(s1[:2]+s2+s1[2:])

AuKellylt

In [16]:
s1 = "America"
s2 = "Japan"

print(s1[0] + s2[0] + s1[int(len(s1)/2)] + s2[int(len(s2)/2)] + s1[-1] + s2[-1])

AJrpan

In [21]:
str1 = "PyNaTive"
x = []
y = []

for i in str1:
    if i.islower():
        x.append(i)
    else:
        y.append(i)

print(x+y)

['y', 'a', 'i', 'v', 'e', 'P', 'N', 'T']

In [2]:
str1 = "P@#yn26at^&i5ve"

harf = []
sayi = []
sembol = []

for i in str1:
    if i.isalpha():
        harf.append(i)
    elif i.isdigit():
        sayi.append(i)
    else:
        sembol.append(i)

x = len(harf)
y = len(sayi)
z = len(sembol)

print(f"Harf sayısı: {x}, Sayı sayısı: {y}, Sembol sayısı: {z}")

Harf sayısı: 8, Sayı sayısı: 3, Sembol sayısı: 4

In [6]:
list1 = [54, 44, 27, 79, 91, 41]

del list1[3]

print(list1)

del list1[1]
del list1[1]
del list1[1]
del list1[1]
list1.append(13)
list1.append(44)
list1.append(27)
list1.append(91)
list1.append(41)

print(list1)

[54, 44, 27, 91, 41]
[54, 13, 44, 27, 91, 41]

In [8]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

x = sample_list[:3]
y = sample_list[3:6]
z = sample_list[6:]

print(x[::-1])
print(y[::-1])
print(z[::-1])

[8, 45, 11]
[12, 14, 23]
[89, 45, 78]

In [10]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

print(f"11 sayısının tekrar sayısı: {sample_list.count(11)}")
print(f"45 sayısının tekrar sayısı: {sample_list.count(45)}")
print(f"8 sayısının tekrar sayısı: {sample_list.count(8)}")
print(f"23 sayısının tekrar sayısı: {sample_list.count(23)}")
print(f"89 sayısının tekrar sayısı: {sample_list.count(89)}")

11 sayısının tekrar sayısı: 2
45 sayısının tekrar sayısı: 3
8 sayısının tekrar sayısı: 1
23 sayısının tekrar sayısı: 2
89 sayısının tekrar sayısı: 1

In [3]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

x = zip(first_list,second_list)
y = list(x)
print(y)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [4]:
list1 = [100, 200, 300, 400, 500]

print(list1[::-1])

[500, 400, 300, 200, 100]

In [15]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
x = 0
list3 =[]

for i in list1:
    list3.append(i)
    if x < len(list2):
        list3.append(list2[x])
        x += 1
print(list3)

['M', 'y', 'na', 'me', 'i', 's', 'Ke', 'lly']

In [17]:
numbers = [1, 2, 3, 4, 5, 6, 7]
bos = []

for i in numbers:
    i = i*i
    bos.append(i)
print(bos)

[1, 4, 9, 16, 25, 36, 49]

In [21]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []

for i in list1:
    for x in list2:
        list3.append(i + x)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [32]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i,x in zip(list1,list2[::-1]):
    print(i,x)

10 400
20 300
30 200
40 100

In [5]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

sozluk = dict(zip(keys,values))
print(sozluk)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [13]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [14]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict4 = dict1 | dict2
print(dict4)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [16]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

In [18]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

birles = dict.fromkeys(employees,defaults)

print(birles)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [19]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

sample_dict.pop("name")
sample_dict.pop("salary")

print(sample_dict)

{'age': 25, 'city': 'New york'}

In [20]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Black', 'Red', 'Blue', 'Orange', 'Green'}

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

In [30]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

x = set1.intersection(set2)
y = set1.difference(set2)
z = set2.difference(set1)
x.update(y)
x.update(z)
print(x)

{50, 20, 70, 40, 10, 60, 30}

In [31]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [34]:
set1 = {10, 20, 30, 40, 50}

set1.discard(10)
set1.discard(20)
set1.discard(30)
print(set1)

{50, 40}

In [35]:
tuple1 = (10, 20, 30, 40, 50)

print(tuple1[::-1])

(50, 40, 30, 20, 10)

In [37]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
x = tuple1[1]
print(x[1])

20

In [39]:
x = (50, )
type(x)

tuple

In [40]:
tuple1 = (10, 20, 30, 40)
a = tuple1[0]
b = tuple1[1]
c = tuple1[2]
d = tuple1[3]

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [46]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1 , tuple2 = tuple2 , tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)