In [1]:
# Onlu Sayma Sistemi

(0 * (10 ** 0)) + (8 * (10 ** 1)) + (9 * (10 ** 2)) + (1 * (10 ** 3))

1980

In [2]:
# Sekizli Sayma Sistemi

0, 1, 2, 3, 4, 5, 6, 7

(0, 1, 2, 3, 4, 5, 6, 7)

In [4]:
10, 11, 12, 13, 14, 15, 16, 17, 20

(10, 11, 12, 13, 14, 15, 16, 17, 20)

In [5]:
sayı_sistemleri = ["onlu", "sekizli"]

print(("{:^5} "*len(sayı_sistemleri)).format(*sayı_sistemleri))

for i in range(17):
    print("{0:^5} {0:^5o}".format(i))

onlu  sekizli
  0     0
  1     1
  2     2
  3     3
  4     4
  5     5
  6     6
  7     7
  8    10
  9    11
 10    12
 11    13
 12    14
 13    15
 14    16
 15    17
 16    20

In [6]:
(4 * (8 ** 0)) + (7 * (8 ** 1)) + (6 * (8 ** 2)) + (3 * (8 ** 3))

1980

In [7]:
# On Altılı Sayma Sistemi

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f

NameError: name 'a' is not defined

In [8]:
sayı_sistemleri = ["onlu", "sekizli", "on altılı"]

print(("{:^8} "*len(sayı_sistemleri)).format(*sayı_sistemleri))

for i in range(17):
    print("{0:^8} {0:^8o} {0:^8x}".format(i))

  onlu   sekizli  on altılı
   0        0        0
   1        1        1
   2        2        2
   3        3        3
   4        4        4
   5        5        5
   6        6        6
   7        7        7
   8        10       8
   9        11       9
   10       12       a
   11       13       b
   12       14       c
   13       15       d
   14       16       e
   15       17       f
   16       20       10

In [9]:
# a –> 10

# b –> 11

# c –> 12

# d –> 13

# e –> 14

# f –> 15

(12 * (16 ** 0)) + (11 * (16 ** 1)) + (7 * (16 ** 2))

1980

In [10]:
# İkili Sayma Sistemi

sayı_sistemleri = ["onlu", "sekizli", "on altılı", "ikili"]

print(("{:^9} "*len(sayı_sistemleri)).format(*sayı_sistemleri))

for i in range(17):
    print("{0:^9} {0:^9o} {0:^9x} {0:^9b}".format(i))

  onlu     sekizli  on altılı   ikili
    0         0         0         0
    1         1         1         1
    2         2         2        10
    3         3         3        11
    4         4         4        100
    5         5         5        101
    6         6         6        110
    7         7         7        111
    8        10         8       1000
    9        11         9       1001
   10        12         a       1010
   11        13         b       1011
   12        14         c       1100
   13        15         d       1101
   14        16         e       1110
   15        17         f       1111
   16        20        10       10000

In [11]:
(0 * (2 ** 0)) + (0 * (2 ** 1)) + (1 * (2 ** 2)) + (1 * (2 ** 3))

12

In [12]:
# Sayma Sistemlerini Birbirlerine Dönüştürmek

# Fonksiyon Kullanarak

# bin() -> İkiliye dönüştürür

bin(2)

'0b10'

In [13]:
bin(2)[2:]

'10'

In [14]:
# hex() -> Onaltılıya dönüştürür

hex(10)

'0xa'

In [15]:
hex(10)[2:]

'a'

In [16]:
# oct() -> Sekizliye dönüştürür

oct(10)

'0o12'

In [17]:
oct(10)[2:]

'12'

In [18]:
# int() -> Onluya dönüştürür

int('7bc', 16)

# birinci parametre karakter dizisi olmalı
# ikinci parametre dönüştürmek istediğimiz sayının hangi sayma sisteminde olduğunu belirtmeliyiz

1980

In [19]:
int('1100', 2)

12

In [20]:
int('1100', 16)

4352

In [21]:
# Biçimlendirme Yoluyla

# b -> ikiliye dönüştürür

'{:b}'.format(12)

'1100'

In [22]:
# x -> onaltılıya dönüştürür

'{:x}'.format(1980)

'7bc'

In [23]:
# o -> sekizliye dönüştürür

'{:o}'.format(1980)

'3674'

In [24]:
# d -> onluya dönüştürür

n = '7bc'
"{} sayısının onlu karşılığı {:d} sayısıdır.".format(n, int(n, 16))

'7bc sayısının onlu karşılığı 1980 sayısıdır.'

In [25]:
n = '7bc'
"{} sayısının onlu karşılığı {} sayısıdır.".format(n, int(n, 16))

# :d yazmasanız da aynı sonucu verir

'7bc sayısının onlu karşılığı 1980 sayısıdır.'

In [ ]:
# Sayma Sistemlerinin Birbirlerine Karşı Avantajları

# Sistemin sayısı büyüdükçe kapladığı bayt değeri düşer 
# Çünkü ikili sisteme kıyasla onaltılı sistemde daha az rakamla daha büyük sayılar yazılabilir
# Bu nedenle her rakam belli bir bayta karşılık geldiği için en az bayt onaltılı,onlu,sekizli,ikili olarak sıralanır